<section class="py-16 bg-cover bg-center">
  <div class="max-w-7xl mx-auto px-4">
    <%# <h1 class="text-4xl font-bold text-center text-white mb-12">Nossas Raças</h1> %>

    <div class="flex flex-col md:flex-row justify-center items-start gap-10">

      <!-- Card 1 -->
      <div class="w-full max-w-md text-white bg-black backdrop-blur-sm rounded-xl shadow-lg p-6">
        <h2 class="text-2xl font-bold mb-4 text-gray-900">Terrier Brasileiro - Fox Paulistinha</h2>
        <%= image_tag 'terrier.jpg', class: 'w-full h-70 =object-cover rounded-xl mb-4', alt: 'Terrier Brasileiro' %>
        <div class="text-gray-800 text-justify space-y-4">
          <p><strong>A HISTÓRIA DO TERRIER BRASILEIRO</strong></p>

          <p><strong>1.ª Teoria</strong><br>
          A que consta no padrão oficial da raça terrier brasileiro, diz que descendem de cães do tipo Terrier trazidos da Europa pelas esposas dos filhos de fazendeiros, que muito comumente, a partir de meados do século XIX e início do século XX, iam estudar na Europa, e quando retornavam, muitas vezes casados, teriam trazido estes pequenos cães, que eram muito comuns entre as famílias mais abastadas de Londres e Paris nesta época. Possivelmente eram das raças parson russel terrier, jack russel terrier e fox terrier de pelo liso, que eram raças muito comuns na Inglaterra neste período. E estes cães ao cruzarem com cães das fazendas no Brasil, e no campo sendo aproveitados na caça, na guarda e em menor escala no pastoreio de ovelhas, teriam criado em poucas gerações uma nova raça. Com o desenvolvimento das grandes cidades, os fazendeiros e suas famílias migraram para os grandes centros urbanos, desta forma o fox paulistinha sofreu outra mudança de ambiente que teria contribuído em sua formação. Onde inclusive teve a importante função de guardar as mercadorias dos armazéns da ação predatória de roedores.</p>

          <p><strong>2.ª Teoria</strong><br>
          Há outra hipótese bem forte, e com dados históricos que diz que cães de tipo terrier, sem precisão de raça definida, viajavam como caçadores de ratos em navios mercantes, principalmente nos ingleses, desde o século XIX. Os cães teriam sido tripulação fixa nestas embarcações devido ao receio que a população européia tinha da peste negra, e os cães ajudavam no controle dos ratos. E ao aportarem em portos brasileiros, teriam cruzado com cães locais adaptados as características ambientais brasileiras, e assim acredita-se que o terrier brasileiro teria se originado. Este mesmo processo teria criado outras raças em outros países. Uma ultima hipótese menos difundida diz que o terrier brasileiro é um cão autóctone da região onde é hoje o Estado de São Paulo.</p>

          <p><strong>3.ª Teoria</strong><br>
          Ainda há uma outra hipótese mais plausível do ponto de vista fenotípico da raça, que diz que os cães “terrier” espanhóis ratonero bodeguero andaluz e ratonero valenciano sejam os verdadeiros ancestrais do terrier brasileiro, os quais estão relacionados ao fox terrier. O perro ratonero mallorquín é outra raça espanhola relacionada a estas duas já mencionadas.

Estas duas raças espanholas são extremamente semelhantes ao terrier brasileiro, sendo verdadeiros sósias, muito mais semelhantes do que as raças britânicas citadas anteriormente. Por isso, aliando a História do Brasil, esta teoria diz que ao invés dos cães britânicos, o terrier brasileiro descenda principalmente destes dois cães espanhóis que muito provavelmente teriam chegado em massa ao Brasil nos navios da Espanha entre 1580 e 1640, época da União Ibérica, quando a Espanha e Portugal estavam unidas politicamente em um só reino, assim como todas as suas colônias de ultramar, incluindo o Brasil; ou até mesmo depois deste período.</p>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="w-full max-w-md text-white bg-black backdrop-blur-sm rounded-xl shadow-lg p-6">
        <h2 class="text-2xl font-bold mb-4 text-gray-900">Pastor da Mantiqueira</h2>
        <%= image_tag 'pastor.jpg', class: 'w-full h-70 object-cover rounded-xl mb-4', alt: 'Pastor da Mantiqueira' %>
        <div class="text-gray-800 text-justify space-y-4">
          <p><strong>A HISTÓRIA DO PASTOR DA MANTIQUEIRA</strong></p>

          <p>O Pastor da Mantiqueira é uma raça de cães boiadeiros de porte médio que teve origem na Serra da Mantiqueira, na Região Sudeste brasileira.</p>

          <p>A primeira teoria de origem considerou que, pela aparência e aptidão para pastoreio, o Pastor da Mantiqueira poderia descender das raças Pastor Belga e Pastor Holandês, e talvez até de alguns antecessores do Pastor Alemão, mas de menor porte.</p>

          <p>No entanto, mais provavelmente, o Pastor da Mantiqueira pode ser um descendente de cães Ibéricos, como os das raças espanholas Pastor Garafiano, Pastor Basco e Can de Palleiro, todas muito mais semelhantes ao cão brasileiro, em especial o Pastor Garafiano.</p>

          <p>Essas raças poderiam ter chegado ao Brasil durante a União Ibérica. Cães pastores de origem portuguesa, como o Cão-da-Serra-da-Estrela, também podem ter contribuído com a formação da raça.</p>

          <p>Seja qual for a origem, o que é certo é que esses ascendentes trazidos da Europa teriam chegado à Serra da Mantiqueira no século XX, e nesta região cruzaram entre si. Esses cães teriam sido então selecionados pelos peões e pelos tropeiros na lida diária com os rebanhos bovinos.</p>

          <p>Esses trabalhadores precisavam de um bom cão rústico de pastoreio, ágil, forte e resistente para conduzir a boiada por caminhos em que o peão em seu cavalo tinha dificuldades de chegar, devido ao relevo acidentado da Serra da Mantiqueira.</p>

          <p>E dentro do que sabiam, sempre buscavam acasalar os cães que melhor atendiam as suas necessidades. Com esta seleção, ao longo de décadas, surgiu a raça Pastor da Mantiqueira. A dificuldade de acesso à Serra da Mantiqueira ajudou a manter o plantel da raça relativamente puro e preservado, afastado de genes exóticos de outras raças.</p>
        </div>
      </div>

    </div>
  </div>
</section>